---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="flex flex-col">
    <div class="my-10 mx-10">
      <div class="flex justify-left md:pl-10 text-yellow-500 text-2xl">
        Meet your traveler
      </div>
      <div class="text-xl my-5 md:mx-10">
        I've been traveling around the world for the past 20 years. It's been an
        amazing journey, and I've learned so much about myself and the world. I
        started traveling when I was young. I was always fascinated by other
        cultures and wanted to see the world for myself. After finishing
        college, I decided to take a gap year and travel to Europe. I spent six
        months backpacking around the continent, and I fell in love with travel.<br
        /><br />

         After my gap year, I got a job and started saving up money so that I could
        travel again. A few years later, I quit my job and set off on a two-year
        trip around the world. I visited over 50 countries and saw some of the most
        amazing places on Earth. I've been traveling ever since. I've lived in different
        countries, volunteered on projects, and taught English. I've met so many
        amazing people and learned so much about the world.<br /><br />

         One of my favorite travel experiences was hiking the Inca Trail to Machu
        Picchu in Peru. It was a challenging hike, but it was worth it for the incredible
        views of Machu Picchu at the end. Another favorite experience was going on
        a safari in Kenya. I saw lions, elephants, giraffes, and other amazing animals
        in the wild. It was an unforgettable experience.<br /><br />

         I've also had the opportunity to learn about different cultures from around
        the world. I lived in a homestay in Thailand and learned about Thai culture.
        I volunteered at an orphanage in Cambodia and learned about the challenges
        that Cambodian children face. I taught English in Mexico and learned about
        Mexican culture. I've learned so much from my travels. I've learned to be
        more open-minded and accepting of different cultures. I've learned to be
        more resourceful and resilient. And I've learned that the world is a beautiful
        and amazing place.<br /><br />

         I'm so grateful for the opportunity to have traveled around the world. It's
        been an incredible experience, and I wouldn't trade it for anything. If you're
        thinking about traveling around the world, I encourage you to go for it!
        It's an amazing experience that will change your life. Just be prepared to
        be flexible, open-minded, resourceful, and resilient. And most importantly,
        have fun!
      </div>
    </div>
  </div>
</BaseLayout>
