---
const currentYear = new Date().getFullYear();
---

<footer id="footer" class="bg-yellow-400 mb-auto">
  <div class="flex flex-col py-6 items-center justify-center">
    <p class="font-bold">Questions or Comments?</p>
    <p class="">Cell: <a href="tel:2678854571" class="">267-885-4571</a></p>
    <p class="">
      Email: <a href="mailto:ryangleason82@gmail.com" class=""
        >ryangleason82@gmail.com</a>
    </p>
    <p class="mt-3">Designed & Developed in San Diego, CA By Me :)</p>
    <p>
      Need a Website? &copy; {currentYear}
      <a class="text-blue-600" href="https://ggilabs.com/">
        Gleason Group, Inc.</a>
    </p>
  </div>
</footer>
