---
import { getCollection } from "astro:content";
const destinations = (await getCollection("destinations")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<div class="grid md:grid-cols-2 grid-cols-1 md:w-2/3 w-full mx-10">
  {
    destinations.map((project) => (
      <div class="m-3">
        <a href={`/destinations/${project.slug}/`}>
          <div class="flex relative overflow-hidden rounded-xl">
            <div class="absolute h-full z-10 w-full bg-gray-900 opacity-50"></div>
            <span class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-20 text-white text-2xl font-bold rounded-xl">
              {project.data.title}
            </span>

            <img
              class="relative bg-cover h-full "
              src={project.data.img}
              loading="lazy"
              alt=""
            />
          </div>
        </a>
      </div>
    ))
  }
</div>
