---
const textLinks: { label: string; href: string }[] = [
  { label: "Home", href: "/" },
  { label: "Destinations", href: "/destinations/" },
  { label: "Blog", href: "/blog/" },
  { label: "Gallery", href: "/gallery/" },
  { label: "About", href: "/about/" },
  { label: "Contact", href: "/contact/" },
];
---

<nav class="bg-black sticky w-full z-20 top-0 left-0">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a href="/" class="flex items-center">
      <div
        class="self-center text-2xl ml-2 font-semibold text-white whitespace-nowrap"
      >
        #GGItravels
      </div>
    </a>
    <div class="flex md:order-2">
      <button
        type="button"
        class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-full text-sm px-4 py-2 text-center mr-3 md:mr-0"
        >Contact Us</button
      >
      <nav-wrapper>
        <template>
          <button
            id="nav-button"
            data-collapse-toggle="navbar-sticky"
            type="button"
            class="navbar-sticky inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
            aria-controls="navbar-sticky"
            aria-expanded="false"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 17 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 1h15M1 7h15M1 13h15"></path>
            </svg>
          </button>
        </template>
      </nav-wrapper>
    </div>
    <div
      class="items-center justify-between w-full md:flex md:w-auto md:order-1"
      id="navbar-sticky2"
    >
      <ul
        class="flex flex-col md:p-0 mt-4 font-medium text-white rounded-lg md:flex-row md:mt-0 md:border-0"
      >
        {
          textLinks.map(({ label, href }) => (
            <li class="p-2 font-bold">
              <a
                class:list={[
                  "link",
                  {
                    active:
                      Astro.url.pathname === href ||
                      (href !== "/" && Astro.url.pathname.startsWith(href)),
                  },
                ]}
                aria-current="page"
                href={href}
              >
                {label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</nav>

<script>
  class MenuButton extends HTMLElement {
    constructor() {
      super();

      // Inject menu toggle on mobile when the JS runs
      this.appendChild(this.querySelector("template")!.content.cloneNode(true));
      const btn = this.querySelector("button");

      // Get the div with the menu contents -- the unordered list, hide intially
      const menu = document.getElementById("navbar-sticky2");
      menu.hidden = true;

      // a toggle - do the opposite of current state when clicked
      const setExpanded = (expand: boolean) => {
        btn.setAttribute("aria-expanded", expand ? "true" : "false");
        menu.hidden = !expand;
      };
      btn.addEventListener("click", () => {
        setExpanded(menu.hidden);
      });

      // hide the mobile nav button if the screen is less than 50em
      const handleViewports = (e: MediaQueryList | MediaQueryListEvent) => {
        setExpanded(e.matches);
        btn.hidden = e.matches;
      };
      const mediaQueries = window.matchMedia("(min-width: 50em)");
      handleViewports(mediaQueries);
      mediaQueries.addEventListener("change", handleViewports);
    }
  }
  customElements.define("nav-wrapper", MenuButton);
</script>

<style>
  .link {
    display: inline-block;
    color: var(--gray-300);
    text-decoration: none;
  }

  .link.active {
    color: var(--gray-0);
  }

  @media (min-width: 50em) {
    .link {
      padding: 0.5rem 1rem;
      border-radius: 999rem;
      transition:
        color var(--theme-transition),
        background-color var(--theme-transition);
    }

    .link:hover,
    .link:focus {
      color: var(--gray-100);
      background-color: var(--accent-subtle-overlay);
    }

    .link.active {
      color: var(--accent-regular);
      /* background-color: var(--accent-regular); */
    }
  }
</style>
